.Tasks{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    box-sizing: border-box;
    justify-content: space-between;
    text-align: left;
}

.block{
    margin-top: 40px;
    width: 430px;
    border-radius: 10px;
    text-align: left;
    /*border: 1px solid red;*/
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.25);
    background-color: #f4f4f4;
}

.block:last-child{
    margin-right: 0;
}

.header_block{
    background-color: #0D1321;
    color: #f4f4f4;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 40px;
    border-radius: 10px 10px 0 0;
    font-size: 1.5em;
}

.list{
    padding: 0 0 20px 40px;
}

.topPart{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20px;
    margin-top: 20px;
}

img{
    width: 25px;
    height: 25px;
    margin-right: 7px;
}

.dz p{
    padding-left: 33px;
}


/*  Кнопка для добавления новых заданий  */
.for_btn{
    bottom: 30%;
    right: 15%;
    position: fixed;
    width: 70%;
    margin: auto;
}

.add_task{
    position: absolute;
    top: 150px;
    left: 95%;
    float: right;
    background-color:  #0D1321;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.25);
}

.add_task:hover{
    cursor: pointer;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.4),
                -1px -2px 15px rgba(0, 0, 0, 0.4);
}

.add {
    position: absolute;
    top: 23px;
    left: 23px;
    width: 40px;
    height: 40px;
}
.add:before, .add:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 4px;
    background-color: #fff;
}
.add:before {
    transform: rotate(90deg);
}
.add:after {
    transform: rotate(0deg);
}
/*  Кнопка для добавления новых заданий  */



/*  Медиа файлы  */
@media(max-width: 450px){
    * {
        font-size: 0.98em;
    }
    
    .for_btn {
        right: 20%;
    }
}

@media(max-width: 350px){
    .for_btn {
        right: 35%;
    }
}

@media(min-width: 1920px){
    .Tasks {
        width: 1350px;
    }
}
/*  Медиа файлы  */